
<%= render 'preloader' %>

<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-4">
                            <div class="row text-center">
                                <%= image_tag 'title_logo.png', class: 'mx-auto d-block' %>
                            </div>
                            <%= form_tag login_path, class: 'mt-3 mb-5 login-input' do |form| %>
                                <div class="form-group">
                                  <%= text_field_tag(:username, nil, class: 'form-control', placeholder: t('.username'), required: true) %>
                                </div>
                                <div class="form-group">
                                  <%= password_field_tag(:password, nil, class: 'form-control', placeholder: t('.password'), required: true) %>
                                </div>
                                <%= submit_tag t('.sign_in'), class: 'btn login-form__btn submit w-100', disabled: @login_disabled %>
                            <% end %>
                            <%= render 'alerts' %>
                            <h6 class="text-center"><%= t('common.versions', server_version: @server_version, web_version: @web_version) %></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
