<div class="modal-header">
    <h5 class="modal-title">Edit Job <%= job.id %></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <%= form_with model: @job, remote: true do |f| %>
  <div class='modal-body'>
    <p>
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name, class: 'form-control' %>
    </p>
    <p>
      <%= f.label :command, 'Command' %>
      <%= f.text_area :command, rows: 5, class: 'form-control' %>
    </p>
    <p>
      <div class="row">
        <div class="col-3">
          <%= f.label :success_callback, 'Success Callback' %>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <%= f.text_field :success_callback, class: "form-control" %>
        </div>
        <div class="col-2">
          <button type='button' class='btn btn-secondary'>Test</button>
        </div>
      </div>
    </p>
    <p>
      <div class="row">
        <div class="col-3">
          <%= f.label :failure_callback, 'Failure Callback' %>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <%= f.text_field :failure_callback, class: 'form-control' %>
        </div>
        <div class="col-2">
          <button type='button' class='btn btn-secondary'>Test</button>
        </div>
      </div>
    </p>
    <p>
      <%= f.label :tags, 'Tags' %>
      <%= f.text_field :tags, class: 'form-control', data: { role: 'tagsinput' } %>
    </p>
    <p>
      <%= label_tag "Pick a predefined schedule or define your own below" %>
    </p>
    <p>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="minutely" autocomplete="off" checked> Minutely
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="hourly" autocomplete="off"> Hourly
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="daily" autocomplete="off"> Daily
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="weekly" autocomplete="off"> Weekly
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="monthly" autocomplete="off"> Monthly
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="yearly" autocomplete="off"> Yearly
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="custom" autocomplete="off"> Custom
        </label>
      </div>
    </p>
    <p>
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-2">
              <%= f.label "Minute" %>
              <%= f.text_field :cron_minute, class: "form-control" %>
            </div>
            <div class="col-2">
              <%= f.label "Hour" %>
              <%= f.text_field :cron_hour, class: "form-control" %>
            </div>
            <div class="col-2">
              <%= f.label "Day" %>
              <%= f.text_field :cron_day, class: "form-control" %>
            </div>
            <div class="col-2">
              <%= f.label "Month" %>
              <%= f.text_field :cron_month, class: "form-control" %>
            </div>
            <div class="col-2">
              <%= f.label "Week" %>
              <%= f.text_field :cron_week, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-4">
          <%= f.label 'Timezone' %>
          <%= f.select :timezone, @timezones %>
        </div>
      </div>
    </p>
  </div>
  <% end %>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('common.close') %></button>
    <button type="button" class="btn btn-primary"><%= t('.update_job') %></button>
  </div>
</div>
