<div class="row">
  <div class='col-11'>
    <div class='btn-group mb-1'>
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Selected Jobs</button>
      <div class='dropdown-menu'>
        <%= link_to '<i class="icon-trash"></i>&nbsp;&nbsp;Delete'.html_safe, '#', class: 'dropdown-item', id: 'delete-jobs' %>
        <%= link_to '<i class="icon-check"></i>&nbsp;&nbsp;Enable'.html_safe, '#', class: 'dropdown-item', id: 'enable-jobs' %>
        <%= link_to '<i class="icon-close"></i>&nbsp;&nbsp;Disable'.html_safe, '#', class: 'dropdown-item', id: 'disable-jobs' %>
        <%= link_to '<i class="icon-shuffle"></i>&nbsp;&nbsp;Toggle Enabled'.html_safe, '#', class: 'dropdown-item', id: 'toggle-jobs-enable' %>
        <div class='dropdown-divider'></div>
        <%= link_to '<i class="icon-control-play"></i>&nbsp;&nbsp;Run'.html_safe, '#', class: 'dropdown-item', id: 'run-jobs' %>
      </div>
    </div>
  </div>
  <div class="col-1">
    <%= link_to t('.create_job'), new_job_path, remote: true, class: 'btn btn-primary float-right' %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped table-bordered zero-configuration" id="jobs">
      <thead>
          <tr>
              <th></th>
              <th></th>
              <td><%= t('common.job_table.id') %></td>
              <th><%= t('common.job_table.name') %></th>
              <th><%= t('common.job_table.cron') %></th>
              <th><%= t('common.job_table.command') %></th>
              <th><%= t('common.job_table.timezone') %></th>
              <th><%= t('common.job_table.succeeded') %></th>
              <td><%= t('common.job_table.enabled') %></td>
              <td><%= t('common.job_table.running') %></td>
              <th><%= t('common.job_table.last_run') %></th>
              <th><%= t('common.job_table.next_run') %></th>
              <th><%= t('common.job_table.created_at') %></th>
              <th><%= t('common.job_table.updated_at') %></th>
          </tr>
      </thead>
  </table>
  </div>
</div>
