
<%= render 'preloader' %>

<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">
                            <h4 class="text-center">BJR Web Login</h4>
                            <%= form_tag login_path, class: 'mt-5 mb-5 login-input' do |form| %>
                                <div class="form-group">
                                  <%= text_field_tag(:username, nil, class: 'form-control', placeholder: t('common.username')) %>
                                </div>
                                <div class="form-group">
                                  <%= password_field_tag(:password, nil, class: 'form-control', placeholder: t('common.password')) %>
                                </div>
                                <%= submit_tag t('common.sign_in'), class: 'btn login-form__btn submit w-100' %>
                            <% end %>
                            <%= render 'alerts' %>
                            <h6 class="text-center"><%= t('common.server_version', version: @version) %></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
