<%= render 'preloader' %>
<div id="main-wrapper">
    <%= render 'nav_header' %>
    <%= render "header" %>
    <%= render "sidebar" %>
    <div class="content-body">
        <%= yield %>
    </div>
    <%= render 'footer' %>
</div>
<%= render "javascript" %>
